@CHARSET "UTF-8";

.main {
	padding: 1%;
}


.clear {
	clear: both;
}

.float-right {
	float: right;
}

h1 {
	text-align: center;
	margin: 3%;
}

/***** FORMA ZA UNOS ******/
table {
	margin: 0 auto;
}

td {
	vertical-align: top;
}

label {
	text-align: right;
	display: block;
	margin-right: 2%;
	margin-top: 7%;
	font-weight: 500;
}

input[type="submit"], form input[type="button"] {
	margin: 3% auto;
}

.has-error {
	border: 1px solid red;
}

td span {
	color: darkred;
	margin-left: 3%;
}

.info-table {
	width: 50%;
}

.info-table td:nth-child(2), .info-table th:nth-child(2) {
	text-align: center;
}

.info-table td:nth-child(1) {
	font-weight: 600;
}

.aditional-table {
	width: 30%;
	float: right;
}

/**** PRIKAZ BILJEŠKE *********/
.main span {
	font-weight: 600;
}

p span {
	font-weight: bold;
}

.centered {
	text-align: center;
}

.kockice {
	border: dashed 4px black;
}

.crte {
	border: solid 4px black;
}