<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title th:utext="#{title.register}">Tab Title</title>
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" th:href="@{/resources/style.css}" />
<script type="text/javascript" th:src="@{/resources/jquery320.js}"></script>
<script type="text/javascript"
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>

<body class="fullHeight">
	<div th:insert="~{fragments/menu :: register}"></div>

	<div class="container">
		<div class="mainLogin mainRegister row vertical-center-row">
			<div class="row">
				<h1 th:utext="#{header.register}">form</h1>

				<div class="col-sm-5 col-sm-offset-3">
					<form method="POST" th:object="${userForm}">
						<table>
							<tr>
								<td><label for="name" th:utext="#{user.form.name}"></label></td>
								<td><input type="text" name="name" id="name"
									th:field="*{name}"
									th:class="${#fields.hasErrors('name')}? 'form-control has-error' : 'form-control'"
									th:placeholder="#{user.name}" autofocus /> <span class="error"
									th:if="${#fields.hasErrors('name')}" th:errors="*{name}">error</span></td>
							</tr>
							<tr>
								<td><label for="surname" th:utext="#{user.form.surname}"></label></td>
								<td><input type="text" name="surname" id="surname"
									th:field="*{surname}"
									th:class="${#fields.hasErrors('surname')}? 'form-control has-error' : 'form-control'"
									th:placeholder="#{user.surname}" /> <span class="error"
									th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">error</span></td>
							</tr>
							<tr>
								<td><label for="username" th:utext="#{user.form.username}"></label></td>
								<td><input type="text" name="username" id="username"
									th:field="*{username}"
									th:class="${#fields.hasErrors('username')}? 'form-control has-error' : 'form-control'"
									th:placeholder="#{user.username}" /> <span class="error"
									th:if="${#fields.hasErrors('username')}"
									th:errors="*{username}">error</span></td>
							</tr>
							<tr>
								<td><label for="email" th:utext="#{user.form.email}"></label></td>
								<td><input type="text" name="email" id="email"
									th:field="*{email}"
									th:class="${#fields.hasErrors('email')}? 'form-control has-error' : 'form-control'"
									th:placeholder="#{user.email}" /> <span class="error"
									th:if="${#fields.hasErrors('email')}" th:errors="*{email}">error</span></td>
							</tr>
							<tr>
								<td><label for="password" th:utext="#{user.form.password}"></label></td>
								<td><input type="password" name="password" id="password"
									th:field="*{password}"
									th:class="${#fields.hasErrors('password')} ? 'form-control has-error' : (${#fields.hasErrors('global')} ? 'form-control has-error' : 'form-control')"
									th:placeholder="#{user.password}" /> <span class="error"
									th:if="${#fields.hasErrors('password')}"
									th:errors="*{password}">error</span></td>
							</tr>
							<tr>
								<td><label for="matchPassword"
									th:utext="#{user.form.repeatPassword}"></label></td>
								<td><input type="password" name="matchPassword"
									id="matchPass" th:field="*{matchPassword}"
									th:class="${#fields.hasErrors('password')} ? 'form-control has-error' : (${#fields.hasErrors('global')} ? 'form-control has-error' : 'form-control')"
									th:placeholder="#{user.password}" /> <span class="error"
									th:if="${#fields.hasErrors('password')}"
									th:errors="*{password}">error</span> <span class="error"
									th:if="${#fields.hasErrors('global')}" th:errors="${userForm}">error</span></td>
							</tr>
							<tr>
								<td></td>
								<td><input type="submit" name="register"
									th:value="#{button.register}" class="btn btn-success"></td>
							</tr>
						</table>
					</form>
				</div>
			</div>
		</div>
	</div>

</body>
</html>