<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>View Saved Form</title>
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/resources/style.css}" />
</head>

<body>
	<div th:classappend="${note.klasa}">
		<p th:object="${note}">
			Napisao: <span th:text="*{user.fullName} + ' (' + *{user.username} + ')'"></span>
			<br /> Bilježnica: <span
				th:text="*{notebook.title} + ' - ' + *{notebook.description}">
			</span>
		</p>
	</div>

	<h1 th:text="${note.header}"></h1>
	<div>
		<p class="centered" th:text="${note.text}"></p>
	</div>

	<a th:href="@{/newNote}">Povratak</a>
</body>
</html>