<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<title th:utext="#{title.viewNotes}">Tab Title</title>
<meta charset="UTF-8">

<link rel="stylesheet" type="text/css"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" th:href="@{/resources/style.css}" />
<script type="text/javascript" th:src="@{/resources/jquery320.js}"></script>
<script type="text/javascript"
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>

<body>

	<div th:insert="~{fragments/menu :: viewNotes}"></div>
	
	<div class="viewNotes">
		<table class="table table-striped">
			<thead class="thead-inverse">
				<tr>
					<th sec:authorize="hasRole('ROLE_ADMIN')" th:utext="#{note.user}"></th>
					<th th:utext="#{note.notebook}"></th>
					<th th:utext="#{note.header}"></th>
					<th th:utext="#{note.text}"></th>
					<th th:utext="#{note.important}"></th>
					<th th:utext="#{table.status}"></th>
					<th th:utext="#{table.actions}"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="note : ${notes}">
					<td sec:authorize="hasRole('ROLE_ADMIN')"
						th:text="${note.user.fullName}"></td>
					<td th:text="${note.notebook.title}"></td>
					<td th:text="${note.header}"></td>
					<td th:text="${note.text}"></td>
					
					<td th:class="${note.mark}"><span
						th:text="${note.importance?.important} ? #{table.yes} : #{table.no}"></span> <span
						th:if="${note.importance?.important}" class="glyphicon glyphicon-heart"
						th:style="'color:' + ${note.mark.id}"></span></td>
					<td><span th:utext="#{${note.status.translation}}"></span> <span></span></td>
					<td><a class="btn btn-sm btn-primary"
						th:href="@{'/newNote/' + ${note.id}}" th:text="#{button.edit}"></a>
						<a class="btn btn-sm btn-warning"
						th:href="@{'/deleteNote/' + ${note.id}}" th:text="#{button.delete}"></a>
						<a class="btn btn-sm btn-info"
						th:href="@{'/changeNoteStatus/' + ${note.id}}" th:text="#{button.changeStatus}"></a></td>
				</tr>
			</tbody>
		</table>

		<a class="btn btn-info floatingButton" th:href="@{/newNote}"
			th:utext="#{button.return}"></a>
	</div>

</body>
</html>