<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<title th:utext="#{title.viewUsers}">Tab Title</title>
<meta charset="UTF-8">

<link rel="stylesheet" type="text/css"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" th:href="@{/resources/style.css}" />
<script type="text/javascript" th:src="@{/resources/jquery320.js}"></script>
<script type="text/javascript"
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>

<body onload="checkForm();">

	<div th:insert="~{fragments/menu :: viewNotes}"></div>

	<div class="mainNote newForm">
		<div class="col-sm-4 col-sm-offset-4">
			<form th:action="@{/saveRole}" method="POST"
				th:object="${roleForm}" class="roleForm">
				<table class="noteForm">
					<tr>
						<td><label for="user" th:utext="#{user.username}"></label></td>
						<td><input type="text" id="user" th:field="*{user}"
							th:value="*{user?.username}" class="form-control" /></td>
					</tr>
					<tr>
						<td><label for="user" th:utext="#{user.role}"></label></td>
						<td><input id="role" th:field="*{role}" class="form-control" /></td>
					</tr>
					<tr>
						<td><input type="text" id="id" hidden="hidden"
							th:field="*{id}" /></td>
						<td><input type="submit" name="saveButton"
							th:value="#{button.save}" class="btn btn-success" /> <a
							class="btn btn-warning" onclick="hideForm()"> <span
								th:utext="#{button.cancel}"></span>
						</a></td>
					</tr>
				</table>
			</form>
		</div>
	</div>


	<div class="viewNotes">
		<table class="table table-striped">
			<thead class="thead-inverse">
				<tr>
					<th th:utext="#{table.id}"></th>
					<th th:utext="#{user.fullName}"></th>
					<th th:utext="#{user.username}"></th>
					<th th:utext="#{user.email}"></th>
					<th th:utext="#{user.enabled}"></th>
					<th th:utext="#{user.roles}"></th>
					<th th:utext="#{table.actions}"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${users}">
					<td th:text="${user.id}"></td>
					<td th:text="${user.fullName}"></td>
					<td th:text="${user.username}"></td>
					<td th:text="${user.email}"></td>
					<td><a th:if="${user.id} != ${currentUser.id}"
						th:class="${user.enabled} ? 'btn btn-sm btn-warning' : 'btn btn-sm btn-success'"
						th:href="@{'/enableUser/' + ${user.id}}"
						th:text="${user.enabled} ? #{table.disable} : #{table.enable}"></a></td>
					<td><span th:each="role : ${user.roles}"><span
							th:utext="#{${role.translation}}"></span> </span></td>
					<td><a th:if="${user.id} != ${currentUser.id}" class="btn btn-sm btn-warning"
						th:href="@{'/viewUsers/' + ${user.id}}" th:text="#{button.delete}"></a>
						<a th:if="${user.id} != ${currentUser.id}" class="btn btn-sm btn-info" th:text="#{button.editRoles}"
						th:attr="onclick='javascript:editRole(\'' + ${user} + '\');'">Roles</a></td>
				</tr>
			</tbody>
		</table>

		<a class="btn btn-info floatingButton" th:href="@{/newNote}"
			th:utext="#{button.return}"></a>
	</div>

	<script type="text/javascript">
		function editRole(id, username) {
			showForm();
			console.log("funkcija: " + id);
			$("#id").val(id);
			$("#username").val(username);
		}

		var checkForm = function() {
			if ($("#id").val() != "" || $("#username").val() != "") {
				showForm();
			} else {
				hideForm();
			}
		}

		var hideForm = function() {
			$(".newForm").hide();
		}
		var showForm = function() {
			$(".newForm").show();
		}
	</script>

</body>
</html>