<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<title th:utext="#{title.viewUsers}">Tab Title</title>
<meta charset="UTF-8">

<link rel="stylesheet" type="text/css"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" th:href="@{/resources/style.css}" />
<script type="text/javascript" th:src="@{/resources/jquery320.js}"></script>
<script type="text/javascript"
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>

<body onload="checkForm();">

	<div th:insert="~{fragments/menu :: viewNotes}"></div>

	<div class="mainNote newForm">
		<div class="col-sm-4 col-sm-offset-4">
			<form th:action="@{/saveUser}" method="POST" th:object="${userForm}"
				class="userForm">

				<table class="noteForm">
					<tr>
						<td><label for="name" th:utext="#{user.name}"></label></td>
						<td><input type="text" name="name" id="name"
							th:field="*{name}"
							th:class="${#fields.hasErrors('name')}? 'form-control has-error' : 'form-control'" />
							<span class="error" th:if="${#fields.hasErrors('name')}"
							th:errors="*{name}">error</span></td>
					</tr>

					<tr>
						<td><label for="surname" th:utext="#{user.surname}"></label></td>
						<td><input type="text" name="surname" id="surname"
							th:field="*{surname}"
							th:class="${#fields.hasErrors('surname')}? 'form-control has-error' : 'form-control'" />
							<span class="error" th:if="${#fields.hasErrors('surname')}"
							th:errors="*{surname}">error</span></td>
					</tr>
					<tr>
						<td><label for="username" th:utext="#{user.username}"></label></td>
						<td><input type="text" name="username" id="username"
							th:field="*{username}" class="form-control" readonly /></td>
					</tr>
					<tr>
						<td><label for="email" th:utext="#{user.email}"></label></td>
						<td><input type="text" name="email" id="email"
							th:field="*{email}"
							th:class="${#fields.hasErrors('email')}? 'form-control has-error' : 'form-control'" />
							<span class="error" th:if="${#fields.hasErrors('email')}"
							th:errors="*{email}">error</span></td>
					</tr>
					<tr>
						<td><label th:utext="#{user.roles}"></label></td>
						<td><label
							th:each="role : ${T(hr.tvz.bole.enums.UserRoles).values()}">
								<input type="checkbox" th:field="*{roles}" th:value="${role}" />
								<span th:utext="#{${role.translation}}"></span>
						</label></td>
					</tr>
					<tr>
						<td><input type="hidden" id="id" th:field="*{id}" /><input
							type="hidden" id="password" th:field="*{password}"
							th:value="*{password}" /></td>
						<td><input type="submit" name="saveButton"
							th:value="#{button.save}" class="btn btn-success" /> <a
							class="btn btn-warning" onclick="hideForm()"> <span
								th:utext="#{button.cancel}"></span>
						</a></td>
					</tr>
				</table>
			</form>
		</div>
	</div>


	<div class="viewNotes">
		<table class="table table-striped">
			<thead class="thead-inverse">
				<tr>
					<th th:utext="#{table.id}"></th>
					<th th:utext="#{user.name}"></th>
					<th th:utext="#{user.surname}"></th>
					<th th:utext="#{user.username}"></th>
					<th th:utext="#{user.email}"></th>
					<th th:utext="#{user.enabled}"></th>
					<th th:utext="#{user.roles}"></th>
					<th th:utext="#{table.actions}"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${users}">
					<td th:text="${user.id}"></td>
					<td th:text="${user.name}"></td>
					<td th:text="${user.surname}"></td>
					<td th:text="${user.username}"></td>
					<td th:text="${user.email}"></td>
					<td><a th:if="${user.id} != ${currentUser.id}"
						th:class="${user.enabled} ? 'btn btn-sm btn-warning' : 'btn btn-sm btn-success'"
						th:href="@{'/enableUser/' + ${user.id}}"
						th:text="${user.enabled} ? #{table.disable} : #{table.enable}"></a></td>
					<td><span th:each="role : ${user.roles}"><span
							th:utext="#{${role.translation}}"></span> </span></td>
					<td><a th:if="${user.id} != ${currentUser.id}"
						class="btn btn-sm btn-warning"
						th:href="@{'/viewUsers/' + ${user.id}}" th:text="#{button.delete}"></a>
						<a th:if="${user.id} != ${currentUser.id}"
						class="btn btn-sm btn-info" th:text="#{button.edit}"
						th:attr="onclick='javascript:editUser(\'' + ${user.id} + '\', \'' + ${user.name} + '\', \'' + ${user.surname}
						+ '\', \'' + ${user.username} +  '\', \'' + ${user.password} + '\', \'' + ${user.email} + '\', \'' + ${user.roles} + '\');'">Roles</a></td>
				</tr>
			</tbody>
		</table>

		<a class="btn btn-info floatingButton" th:href="@{/newNote}"
			th:utext="#{button.return}"></a>
	</div>

	<script type="text/javascript">
		function editUser(id, name, surname, username, pass, email, roles) {
			showForm();
			console.log("funkcija: ");
			console.log("roles: " + roles);
			for (var i = 0; i < roles.length; i++) {
				console.log(roles[i]);
			}
			$("#id").val(id);
			$("#name").val(name);
			$("#surname").val(surname);
			$("#username").val(username);
			$("#password").val(pass);
			$("#email").val(email);

			roles = roles.replace(/[|]| /g, '');
			var array = roles.split(",");
			$(".roles").val(array);
		}

		var checkForm = function() {
			if ($("#id").val() != "" || $("#username").val() != "") {
				showForm();
			} else {
				hideForm();
			}
		}

		var hideForm = function() {
			$(".newForm").hide();
		}
		var showForm = function() {
			$(".newForm").show();
		}
	</script>

</body>
</html>