<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<title th:utext="#{title.viewNotes}">Tab Title</title>
<meta charset="UTF-8">

<script type="text/javascript" th:src="@{/resources/js/viewNotes.js}"></script>

<link rel="stylesheet" type="text/css"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" th:href="@{/resources/style.css}" />
<script type="text/javascript" th:src="@{/resources/jquery320.js}"></script>
<script type="text/javascript"
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>

<body onload="getAll()">

	<div th:insert="~{fragments/menu :: viewNotes}"></div>

	<div th:insert="~{fragments/tables :: notesTable-java}"></div>


	<div class="viewNotes">
		<table class="table table-striped" id="result">
			<thead th:insert="~{fragments/tables :: notesTableHead}"></thead>
			<tbody></tbody>
		</table>
	</div>
	
	<a class="btn btn-info floatingButton" th:href="@{/newNote}"
		th:utext="#{button.return}"></a>
</body>
</html>